<h2>Todos page</h2>

{{#if todos.length}}
<ul class="todo">
    {{#each todos}}
    <li>
        <form action="/complete" method="POST">
            <label>
                {{#if completed}}
                    <input type="checkbox" name="completed" checked>
                    <span class="completed">{{title}}</span>
                {{else}}
                    <input type="checkbox" name="completed" >
                    <span>{{title}}</span>
                {{/if}}

                <input type="hidden" value="{{_id}}" name="id">
                <button class="btn btn-small" type="submit">Save</button>
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
    <p>No todos yet!</p>
{{/if}}